* {
  margin: 0;
  padding: 0;

}

 .myFont {
  font-family: 'Courier New', Courier, monospace;

 }
 .print-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Columns divide karein */
    grid-template-rows: auto; /* Rows adjust karein */
    width: 210mm; /* Page size */
    height: 297mm;
    position: relative;
    background-color: white;
}
 